body {
    color: #2E3440;
    font-family: 'Iosevka Etoile Web', monospace;
    padding: 0;
    margin: 0;
}

p {
    font-size: 1em;
    padding: 8px 0 0 0;
    margin: 0;
}

.italic {
    font-style: italic;
}

.main {
    padding: 32px;
}

.strikethrough {
    text-decoration: line-through;
}

.header {
    margin: auto;
    font-weight: bolder;
    font-size: 2em;
}

.sub-header {
    font-style: italic;
    font-size: 1.5em;
    margin: 4px 0 16px 0;
    padding: 0;
    color: #4C566A;
}

.section-header {
    font-size: 1.3em;
    margin-top: 32px;
    margin-bottom: 8px;
    color: #5E81AC;
}

.secondary {
    color: #2E344099;
}

.section-subheader {
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    color: #81A1C1;
}

.link {
    font-size: 12pt;
    text-decoration: none;
    color: #88C0D0;
}

.contact-link {
    padding: 0 16px 0 0;
}

.project {
    padding: 0 0 32px 0;
}

.icon {
    padding-right: 4px;
}